@import "constants.scss";

mat-icon.custom-mat-icon {
    user-select: none;

    &.action {
        cursor: pointer;

        &:hover {
            color: #1a237e;
            transition: color $base-animation-duration ease-in-out;
        }
    }
}
