<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/new-screenshot" routerLinkActive #newScreenshotLinkActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [active]="newScreenshotLinkActive.isActive">New screenshot</a>
    <a mat-tab-link routerLink="/gallery" routerLinkActive #galleryLinkActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [active]="galleryLinkActive.isActive">Gallery</a>
    <a mat-tab-link routerLink="/settings" routerLinkActive #settingsLinkActive="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [active]="settingsLinkActive.isActive">Settings</a>
</nav>
