<nav mat-align-tabs="center" mat-tab-nav-bar>
    <a #newScreenshotLinkActive="routerLinkActive" [active]="newScreenshotLinkActive.isActive" [routerLinkActiveOptions]="{ exact: true }" mat-tab-link routerLink="/new-screenshot" routerLinkActive>
        <app-icon size="1.5">add_a_photo</app-icon>
        <span class="tab-link-title">New screenshot</span>
    </a>
    <a #galleryLinkActive="routerLinkActive" [active]="galleryLinkActive.isActive" [routerLinkActiveOptions]="{ exact: true }" mat-tab-link routerLink="/gallery" routerLinkActive>
        <app-icon size="1.5">photo</app-icon>
        <span [matBadgeHidden]="!(newScreenshotCounter$ | async)" [matBadgePosition]="'above after'" class="tab-link-title" matBadge="{{ (newScreenshotCounter$ | async) }}">Gallery</span>
    </a>
    <a #settingsLinkActive="routerLinkActive" [active]="settingsLinkActive.isActive" [routerLinkActiveOptions]="{ exact: true }" mat-tab-link routerLink="/settings" routerLinkActive>
        <app-icon size="1.5">settings_applications</app-icon>
        <span class="tab-link-title">Settings</span>
    </a>
</nav>
