<div [class.more-than-one]="(totalImages$ | async) > 1"
     [class.no-images]="!(totalImages$ | async)" class="content-container">
    <ng-container *ngIf="totalImages$ | async; else noImages">
        <div *ngFor="let image of (images$ | async)" class="screenshot">
            <app-screenshot-card (onDelete)="onDelete($event)" (onDownload)="onDownload($event)" (onOpen)="onOpen($event)" [screenshot]="image"></app-screenshot-card>
        </div>
    </ng-container>
</div>

<ng-template #noImages>
    <app-icon size="15">error_outline</app-icon>
    <p>No screenshots found</p>
</ng-template>
