<div [class.more-than-one]="(images$ | async).length > 1"
     [class.no-images]="!(images$ | async).length" class="content-container">
    <ng-container *ngIf="(images$ | async).length; else noImages">
        <div *ngFor="let image of (images$ | async); trackBy: trackScreenshotById" class="screenshot">
            <app-screenshot-card (onDelete)="onDelete($event)"
                                 (onDownload)="onDownload($event)"
                                 (onFavorite)="onFavorite($event)"
                                 (onOpen)="onOpen($event)"
                                 (onPreview)="onPreview($event)"
                                 [screenshot]="image">
            </app-screenshot-card>
        </div>
    </ng-container>
</div>
<div class="search-bar-container">
    <app-search-bar (onSearch)="onSearch($event)"></app-search-bar>
</div>

<ng-template #noImages>
    <app-icon size="10">error_outline</app-icon>
    <p>No screenshots found</p>
</ng-template>
