<div class="overlay" *ngIf="isSearchBarOpened$ | async"></div>
<form [formGroup]="searchForm">
    <button mat-icon-button *ngIf="!(isSearchBarOpened$ | async)" (click)="openSearchBar()">
        <app-icon size="2.5" [action]="true">search</app-icon>
    </button>
    <mat-form-field [class.open]="isSearchBarOpened$ | async" (focusout)="onInputFocusOut()">
        <mat-label>Search by title</mat-label>
        <label class="cdk-visually-hidden" for="search-input">Enter search query</label>
        <input id="search-input" type="search" matInput formControlName="query" spellcheck="false">
    </mat-form-field>
</form>
