@import "utilities.scss";

.overlay {
    width: 48rem;
    min-height: 100%;
    background: #000;
    z-index: 1;
    opacity: .15;
    position: absolute;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 0 .75rem;
    bottom: 0;
    left: 0;
    z-index: 2;

    button {
        &:first-of-type {
            position: absolute;
            left: 1rem;
            bottom: .20rem;
        }
    }

    mat-form-field.mat-form-field {
        width: 0;

        &.open {
            width: 100%;
            transition: width 2 * $base-animation-duration ease-in-out;
        }

        mat-icon {
            margin-right: .5rem;
        }
    }
}
