mat-card.screenshot-card {
    width: 21rem;

    mat-card-content.mat-card-content {
        display: flex;
        justify-content: center;
    }

    mat-card-actions.mat-card-actions {
        display: flex;
        justify-content: space-between;

        button.mat-button {
            margin: 0;

            span {
                font-size: .75rem;
                margin-left: .35rem;
            }
        }
    }
}
