@import "colors.scss";

.container {
    width: 21rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: .625rem;
    background: $light;
    position: relative;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

    h2 {
        text-align: center;
        padding: .3125rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        display: block;
        width: calc(100% - (2 * .0625rem));
    }

    .caption {
        text-align: center;
        padding: .3125rem 0;
    }

    mat-chip-list {
        position: absolute;
        bottom: 2.1875rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .actions {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .2);
        border-radius: .625rem;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .favorite-icon {
        position: absolute;
        top: 1.75rem;
        right: .5rem;
        opacity: 1;
    }

    &:hover {
        img {
            filter: blur(.2rem);
        }

        h2, .caption {
            font-weight: 700;
        }

        .actions {
            opacity: 1;
            transition: 250ms all;
            height: 100%;

            app-icon:not(:last-of-type) {
                margin-left: .5rem;
            }
        }

        .favorite-icon {
            opacity: 0;
        }
    }
}
