div.content-container {
    justify-content: center;
    padding: 1rem 0;

    form {
        display: flex;
        justify-content: center;

        mat-accordion.mat-accordion {
            mat-expansion-panel.mat-expansion-panel {
                width: 46rem;

                mat-action-row.mat-action-row {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}

div.form-panel-content {
    display: flex;
    flex-flow: nowrap column;
    width: 100%;

    label {
        margin-top: 1.25rem;
    }

    label:first-of-type {
        margin-top: 0;
    }

    mat-radio-button, mat-slide-toggle {
        margin: .3125rem;
    }
}

::ng-deep .mat-expansion-panel-content {
    font-size: 1rem;
}
