@import "constants.scss";
@import "colors.scss";

.clickable {
    cursor: pointer;
}

.icon-clickable {
    cursor: pointer;

    &:hover {
        color: $mat-primary !important;
        transition: color $base-animation-duration ease-in-out;
    }
}

.toast-container {
    font: 1rem 'Roboto', sans-serif;
}
